/Assignment 3/data/
/Final_project/1_documents/
/Final_project/2_char74k_&_characters/
/Final_project/3_testing_words/
/Final_project/yolo_trained_weights/
/Final_project/cnn_trained_model/
/Final_project/yolov5/